<div class="navbar">
    <div class="navbar__header">
        <div class="square-icon">
            <MudIcon Icon="@Icons.Material.Filled.AccountBalance" />
        </div>
    </div>
    <div class="navbar__buttons-list">
        <div class="square-icon">
            <button>
                <MudIcon Icon="@Icons.Material.Filled.StarOutline" Title="FirstPage"></MudIcon>
            </button>
            <p>Zakładka 1</p>
        </div>
        <div class="square-icon square-icon--disabled">
            <button disabled>
                <MudIcon Icon="@Icons.Material.Filled.StarOutline" Title="FirstPage"></MudIcon>
            </button>
            <p>Zakładka 2</p>
        </div>
    </div>
</div>
