@using GroupManager.Data.Models;

<div class="groups-display">
    @foreach (var group in Groups)
    {
        <div>@group</div>
    }
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public List<string> Groups { get; set; } = new List<string>();
}