@using GroupManager.Data.Models;

<div class="log-monitor">
    @foreach (var message in Messages)
    {
        <div>@message</div>
    }
</div>

@code {
    [Parameter]
    public List<string> Messages { get; set; } = new List<string>();
}