@using GroupManager.Constants;
@using GroupManager.Data.Constants;
@using GroupManager.Data.Models;

<div class="log-monitor">
    @foreach (var message in Messages)
    {
        <div class="log-monitor__log-entry @ChangeBackground()">
            <MudIcon Icon="@GetGroupIcon(message)" Size="Size.Small" />
            @message
        </div>
        Iterator++;
    }
</div>

@code {
    private readonly GroupsIcons Icons = new();
    private int Iterator { get; set; } = 1;

    [Parameter]
    public List<string> Messages { get; set; } = new List<string>();

    private string GetGroupIcon(string logMessage)
    {
        foreach (var icon in Icons.GroupsIconsList)
        {
            if (logMessage.EndsWith(icon.Key[icon.Key.Length - 1]))
            {
                return icon.Value;
            }
        }

        return Icons.GroupsIconsList[GroupIdentifiersValues.DefaultSelectedGroup];
    }

    private string ChangeBackground() => Iterator % 2 == 0 ? "log-monitor__log-entry--dark" : "log-monitor__log-entry--light";
}