@using GroupManager.Components
@using GroupManager.Data.Models;

<div class="users-list">
    <div class="users-list__header">
        Użytkownicy
        <button>
            <MudIcon Icon="@Icons.Material.Filled.MoreVert" />
        </button>
    </div>
    <div>
        @*@foreach (var user in Users)
        {
            <div>@user.Name @user.Surename @user.City</div>
        }*@
        @ChildContent
    </div>
    <div>
        <MudDivider DividerType="DividerType.Middle" Class="divider" />
        <LogMonitor />
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public List<User> Users { get; set; } = new List<User>();
}