@using GroupManager.Components

<div class="users-list">
    <div class="users-list__header">
        Użytkownicy
        <button>
            <MudIcon Icon="@Icons.Material.Filled.MoreVert" />
        </button>
    </div>
    <div>
        <MudDivider DividerType="DividerType.Middle" Class="divider" />
        <LogMonitor />
    </div>
</div>
